body
  background-color: #eee
  
#header
  text-align: center
  padding: 5px

#container
  background-color: #fff
  box-shadow: 0px 2px 5px black
  margin: auto
  width: 1500px
  
.rect
  stroke-width: none
  
.axis
  .axis
  text
    font: 12px sans-serif
  path, line
    fill: none
    stroke: #000
    shape-rendering: crispEdges
    
.tip
  background-color: rgba(0, 0, 0, 0.80)
  color: white
  border-radius: 10px
  box-shadow: 0px 2px 5px black
  padding: 10px
  text-align: center
  h3
    margin: 0px
  p
    margin: 0px